<!-- Header Support Ukraine -->
<div class="container donate-container">
  <div class="donate-header">
    <span class="donate-paragraph">Support Ukraine</span>
    <svg class="donate-emblem">
      <use href="./images/icon.svg#emblem" width="20" height="32"></use>
    </svg>
  </div>
  <ul class="donate-funds-list"></ul>

<div class="donate-block-arrow">
<div class="arrow-down-circle">
  <svg class="donate-arrow">
    <use class="use-donate" href="./images/icon.svg#icon-arrow_down_donate" width="32" height="32"></use>
  </svg>
  </div>
  </div>
</div>
