<div class="footer-book">
    <div class="container">
        <ul class="footer-item">
            <li class="footer-list">
                <p class="footer-description">Thank you for deciding to purchase books from our store!</p>
            </li>
            <li class="footer-list">
                <p class="footer-description">We are always working to provide you with the best shopping
                experience</p>
            </li>
            <li class="footer-list">
                <p class="footer-description">We are always happy to be of assistance and welcome you back to our website</p>
            </li>
            <li class="footer-list">
                <p class="footer-description">If you have any questions,
                    please don't hesitate to contact us. Best regards, the book store team!</p>
            </li>
        </ul>
        <a href="" class="footer-link" data-modal-open-command> <span class="footer-year">© 2023</span> || Students <span class="footer-goit">GO IT</span></a>   
    </div>
</div>