<div class="backdrop-command " data-modal>
    <div class="modal-command">
        <button type="button" class="close-modal-btn-command" data-modal-close>
            <svg class="modal-close-btn-icon" width="24" height="24">
                <use href="/images/icon.svg#icon-x-close"></use>
            </svg>
        </button>
        <div class="container-modal-command">
            <h2 class="title-employees">DEVHUNT COMMAND</h2>
            <ul class="employees-item">
                <li class="employees-card">
                    <img src="/src/images/command_photo/petro-shutak.jpg"
                            alt="petro-shutak"
                            width="240"
                            height="360" />
                        <h3 class="employees-name">Petro Shutak</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Tatiana-Tereshchenko</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Sergii Kotkov</h3>
                            <ul >
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Andrii Zlotnikov</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Yuliia Karas</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Kostiantyn Krysenko</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Anatolii Shkurpela</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Yuliia Usova</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
                <li class="employees-card">
                    <img src="" alt="" />
                        <h3 class="employees-name">Petro Kostrytsia</h3>
                            <ul class="social-list">
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="social-list-itam">
                                    <a href="" class="social-list-link">
                                        <svg class="social-list-icon" width="16" height="16">
                                            <use href="./images/sprite.svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                </li>
            </ul>

        </div>

    </div>
</div>