<div class="backdrop-command" data-modal>
  <div class="modal-command">
    <button type="button" class="close-modal-btn-command" data-modal-close>
      <svg class="modal-close-btn-icon" width="24" height="24">
        <use href="/images/icon.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="container-modal-command">
      <h2 class="title-employees">DEVHUNT COMMAND</h2>
      <ul class="employees-item">
        <li class="employees-card">
          <img class="employees-img" src="" alt="" />
          <h3 class="employees-name"></h3>
          <ul class="social-list">
            <li class="social-list-itam">
              <a href="" class="social-list-link">
                <svg class="social-list-icon" >
                  <use href=""></use>
                </svg>
              </a>
            </li>
            <li class="social-list-itam">
              <a href="" class="social-list-link">
                <svg class="social-list-icon">
                  <use href=""></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
