.donate-funds-list {
    width: 335px;
    height: 352px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
border-radius: 16px;
}

.grayscale {
     filter: grayscale(0%); 
    }