 .footer {
     background: radial-gradient(circle at 18.03%, #4F2EE8, #FFFFFF 100%);
     text-align: center;
 }

@media screen and (max-width: 768px) {
    .container {
        width: 480px;
        padding: 16px 32px;
    }

    .footer-list {
        font-size: DM Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.25;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
}