
body.dark-theme {
  background-color: var(--bgc-dark-theme);
}

/* .dark-theme .card-sopping-lict,  */
.dark-theme .header {
  background: var(--header-color-dark);
}

.dark-theme .logo { 
  background-image: url(../images/sprite.svg#icon-logo-dark);
}
  
.dark-theme .label-them {
  background: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
}
  
/* use .header-item-icon .dark-theme, */
.dark-theme .header-link-item-shopping-span {
  fill: var(--header-color-ligth);
}

/* .dark-theme .menu-category, */
.dark-theme .nav-category-item {
  color: rgba(255,255,255,0.6);
}

.dark-theme .nav-category-item.active,
.dark-theme .nav-category-item:hover,
.dark-theme .nav-category-item:active,
.dark-theme .nav-category-item:focus {
  color: var(--accent--text-color-dark);
}

/* .dark-theme .card-sopping-lict-text, */
.dark-theme .gallery-title,
.dark-theme .gallery-book-name { 
  color: var(--secondary-text-color-dark);
}

.dark-theme .gallery-see-more-btn {
  color: var(--secondary-text-color-dark);
  background: var(--bgc-dark-theme);
  /* background-color: transparent; */
}

/* Heder text navigation  (l 111, d fff)
  Shopping list gallery titel (h3)  (l 111, d fff)
  Shopping list gallery text (p)  (l 111, d fff)
  pop up  titel (h2)
  pop up  text (p)
  pop up  button text
  pop up  button close img
  pop up  amazon
*/