.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.4);
  transition: opacity var(--timing-function), opacity var(--animation-duration),
    visibility var(--timing-function), visibility var(--animation-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-modal-btn-fav {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: transparent;
  padding: 0;
  color: var (--primary-text-color-ligth);
}

.modal-close-btn-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  fill: var(--primary-text-color-ligth);
  transition: fill var(--timing-function), fill var(--animation-duration);
}

.close-modal-btn-fav:hover .modal-close-btn-icon,
.close-modal-btn-fav:focus .modal-close-btn-icon {
  fill: var(--accent-color-ligth);
}

.modal-fav {
  background: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
  overflow: hidden;
}

.img-book {
  border-radius: 8px;
}

.choice-btn:hover,
.choice-btn:focus {
  color: #ffffff;
  background-color: #4f2ee8;
}

.congrats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 324px;
  height: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(17, 17, 17, 0.5);
}

/* ================ MEDIA RULES ================ */

@media screen and (max-width: 767px) {
  .modal-fav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 762px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

  .container-modal-fav {
    max-width: 335px;
    padding: 40px 24px;
  }

  .img-book {
    width: 287px;
    height: 408px;
  }

  .title-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    margin-top: 14px;
    color: #111111;
    letter-spacing: -0.04em;
  }

  .title-author {
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    margin-top: 4px;
    color: #b4afaf;
    letter-spacing: -0.04em;
  }

  .description-book {
    width: 287px;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 18px;
    letter-spacing: -0.04em;
    color: #111111;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }

  .shop-book {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
  }

  .choice-btn {
    width: 211px;
    height: 46px;
    font-family: DM Sans;
    font-size: 12px;
    line-height: 1, 28;
    padding: 14px 23px;
    margin: 40px 0px;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    background-color: #ffffff;
    transition: color var(--timing-function), color var(--animation-duration);
  }

  .choice-btn:hover,
  .choice-btn:focus {
    color: #ffffff;
    background-color: #4f2ee8;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.99px) {
  .container-modal-fav {
    width: 579px;
    height: 465px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .modal-fav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 579px;
    height: 465px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

  .img-book {
    width: 192px;
    height: 281px;
    margin-right: 24px;
  }

  .description-info {
    width: 279px;
  }

  .title-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #111111;
    letter-spacing: -0.04em;
  }

  .title-author {
    width: 700px;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.29;
    margin-top: 8px;
    color: #b4afaf;
  }

  .description-book {
    width: 279px;
    height: auto;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #111111;
  }

  .shop-book {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .choice-btn {
    width: 499px;
    height: 64px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 40px 0px;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    background-color: #ffffff;
    transition: color var(--timing-function), color var(--animation-duration);

    color: #111111;
  }

  .choice-btn:hover,
  .choice-btn:focus {
    color: #ffffff;
    background-color: #4f2ee8;
  }
}

@media screen and (min-width: 1440px) {
  .container-modal-fav {
    width: 579px;
    height: 501px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .modal-fav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 579px;
    height: 501px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

  .img-book {
    width: 192px;
    height: 281px;
    margin-right: 24px;
  }

  .title-name {
    font-style: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #111111;
    font-weight: 700;
    letter-spacing: -0.04em;
  }

  .title-author {
    width: 700px;
    font-style: italic;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 8px;
    color: #b4afaf;
    font-weight: 400;
    letter-spacing: -0.04em;
  }

  .description-info {
    width: 279px;
    height: 281px;
  }

  .description-book {
    width: 279px;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 20px;
    letter-spacing: -0.04em;
    color: #111111;
  }

  .shop-book {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .choice-btn {
    width: 499px;
    height: 64px;
    font-family: DM Sans;
    font-size: 18px;
    line-height: 1.33;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 40px 0px 8px;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    background-color: #ffffff;
    transition: color var(--timing-function), color var(--animation-duration);
    color: #111111;
  }
}
