.social-list-icon:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
  border-radius: 10%;
}
.modal-container {
  ::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-height: 90vh;
  overflow-y: auto;
}

.backdrop-command {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 17, 17, 0.4);
  transition: opacity var(--timing-function), opacity var(--animation-duration),
    visibility var(--timing-function), visibility var(--animation-duration);
}

.backdrop-command.active {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-modal-btn-command {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: transparent;
  padding: 0;
  color: var(--primary-text-color-ligth);
}

.modal-close-btn-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  fill: var(--primary-text-color-ligth);
  transition: fill var(--timing-function), fill var(--animation-duration);
}

.close-modal-btn-fav:hover .modal-close-btn-icon,
.close-modal-btn-fav:focus .modal-close-btn-icon {
  fill: var(--accent-color-ligth);
}

.modal-command {
  background: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .modal-command {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 670px;
    background-color: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
  }

  .title-employees {
    margin-bottom: 24px;
  }

  .container-modal-command {
    max-width: 335px;
    padding: 40px 24px;
    text-align: center;
  }

  .employees-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    column-gap: 24px;
  }

  .employees-card {
    flex-basis: 33.33%;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style: none;
    margin-bottom: 24px;
  }

  .employees-img {
    width: 100%;
    height: auto;
  }

  .employees-name {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.33;
    margin-top: 8px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.99px) {
  .modal-command {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 960px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .container-modal-command {
    max-width: 768px;
    padding: 40px 24px;
    text-align: center;
  }

  .title-employees {
    margin-bottom: 24px;
  }

  .employees-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    row-gap: 24px;
    column-gap: 24px;
  }

  .employees-card {
    flex-basis: 33.33%;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style: none;
  }

  .employees-img {
    width: 100%;
    height: auto;
  }

  .employees-name {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 8px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-command {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    height: 1024px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .container-modal-command {
    max-width: 1440px;
    padding: 40px 24px;
    text-align: center;
  }

  .title-employees {
    margin-bottom: 24px;
  }

  .employees-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    row-gap: 24px;
    column-gap: 24px;
  }

  .employees-card {
    flex-basis: 33.3%;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style: none;
    width: 256px;
  }

  .employees-img {
    width: 100%;
    height: auto;
  }

  .employees-name {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.33;
    margin-top: 8px;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}
.social-list-icon {
  width: 100%;
  height: 100%;
}
