.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-shoplist {
  margin-bottom: 40px;
}

.shoping-list-header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: var(primary-text-color-ligth);
}

.shoping-list-part {
  font-weight: 700;
  letter-spacing: -0.04em;
  color: var(--accent-text-color-ligth);
}

.shopping-list-text {
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.shopping-list-thumb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
}

.delete-shopping-list-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-text-color-ligth);
}

.delete-shopping-list-icon {
  fill: #fff;
}

.cover-shopping-list-img {
  border-radius: 8px;
}

.shopping-list-book-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
}

.shopping-list-book-category {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-ligth);
}

.shopping-list-book-about {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(primary-text-color-ligth);
}

.shopping-list-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color-ligth);
}

.shopping-list-trading {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.shopping-list-trading-icon-amazon,
.shopping-list-trading-icon-apple-books,
.shopping-list-trading-icon-book-shop {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.shopping-list-trading-link {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.shopping-list-trading-link :hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.empty-shopping-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 349px;
  height: 309px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

@media screen and (max-width: 767px) {
  .shoping-list-header {
    font-size: 32px;
    line-height: 38px;
  }
  .shoping-list-part {
    font-size: 32px;
    line-height: 38px;
  }
  .shopping-list-text {
    margin-top: 120px;
    margin-left: 45px;
    width: 244px;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
  }

  .shopping-list-book-img {
    width: 265px;
    height: 198px;
  }

  .shopping-list-thumb {
    padding: 14px;
    width: 335px;
    height: 170px;
  }

  .delete-shopping-list-btn {
    top: 14px;
    right: 14px;
    width: 28px;
    height: 28px;
  }
  .cover-shopping-list-img {
    width: 100px;
    height: 142px;
  }
  .book-interface {
    margin-left: 14px;
  }
  .shopping-list-book-category {
    margin-bottom: 8px;
  }
  .shopping-list-book-about {
    margin-bottom: 16px;
  }
  .shopping-list-trading {
    bottom: 14px;
    right: 14px;
  }
  .shopping-list-trading-item:not(:last-child) {
    margin-right: 8px;
  }
  .shopping-list-trading-icon-amazon {
    width: 32px;
    height: 11px;
  }
  .shopping-list-trading-icon-apple-books {
    width: 16px;
    height: 16px;
  }
  .shopping-list-trading-icon-book-shop {
    width: 16px;
    height: 16px;
  }
  .shopping-list-support {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 768px;
    padding: 0 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .shoping-list-header {
    font-size: 48px;
    line-height: 52px;
  }
  .shoping-list-part {
    font-size: 48px;
    line-height: 52px;
  }
  .shopping-list-text {
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }
  .shopping-list-book-img {
    margin-top: 20px;
    margin-left: 202px;
    width: 322px;
    height: 241px;
  }
  .shopping-list-thumb {
    padding: 24px;
    width: 704px;
    height: 213px;
  }
  .delete-shopping-list-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
  .cover-shopping-list-img {
    width: 116px;
    height: 165px;
  }
  .book-interface {
    margin-left: 24px;
  }
  .shopping-list-book-category {
    margin-bottom: 14px;
  }
  .shopping-list-book-about {
    margin-bottom: 16px;
  }
  .shopping-list-trading {
    bottom: 24px;
    right: 24px;
  }

  .shopping-list-trading-item:not(:last-child) {
    margin-right: 16px;
  }
  .shopping-list-trading-icon-amazon {
    width: 48px;
    height: 15px;
  }
  .shopping-list-trading-icon-apple-books {
    width: 28px;
    height: 27px;
  }
  .shopping-list-trading-icon-book-shop {
    width: 32px;
    height: 30px;
  }
  .shopping-list-support {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  aside {
    margin-right: 40px;
  }

  .container-shopping-list {
    width: 996px;
    margin-left: auto;
  }
  .shoping-list-header {
    margin-left: 40px;
    font-size: 48px;
    line-height: 52px;
    margin-top: 0px;
  }

  .shoping-list-part {
    font-size: 48px;
    line-height: 52px;
  }

  .shopping-list-text {
    width: 349px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
  }

  .shopping-list-book-img {
    width: 322px;
    height: 241px;
  }

  .shopping-list-thumb {
    padding: 24px;
    width: 996px;
    height: 213px;
    background: #ffffff;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
  }

  .shopping-list-thumb:not(:last-child) {
    margin-bottom: 20px;
  }

  .delete-shopping-list-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
  .cover-shopping-list-img {
    width: 116px;
    height: 165px;
  }

  .book-interface {
    margin-left: 24px;
  }

  .shopping-list-book-category {
    margin-bottom: 14px;
  }

  .shopping-list-book-about {
    margin-bottom: 16px;
  }

  .shopping-list-trading {
    bottom: 24px;
    right: 24px;
  }

  .shopping-list-trading-item:not(:last-child) {
    margin-right: 16px;
  }

  .shopping-list-support {
    width: 356px;
    height: 490px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );

    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
    margin-top: 40px;
  }
}
